
# Default code owners
[Default][1]
* @cloud-solution/allas-ui

# Code Owners sections
# disabled for now till we have more refined groups
# [Documentation]
# /docs/ @cloud-solution/allas-ui
# README.md @cloud-solution/allas-ui

# [Backend]
# /swift_browser_ui/ @cloud-solution/allas-ui

# [Frontend]
# /swift_browser_ui_frontend/ @cloud-solution/allas-ui

# [Other]
# /dockerfiles/ @cloud-solution/allas-ui
# /scripts/ @cloud-solution/allas-ui
# /tests/ @cloud-solution/allas-ui
