aiohttp==3.14.3
aiohttp-session==2.12.1
redis==8.0.1
asyncpg==0.31.0
certifi==2026.6.17
click==8.4.2
cryptography==50.0.0
gunicorn==26.0.0
keystoneauth1==5.15.0
idpyoidc==5.0.0
uvloop==0.22.1
msgpack==1.2.1
ldap3==2.9.1
aioboto3==15.5.0
statsd==4.0.1
